/* ======================= */
/* Initializing Stylesheet */
/* ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Inter', sans-serif; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  vertical-align: bottom;
}



/* ==================== */
/* Header Section Style */
/* ==================== */
.header {
  padding: 40px 80px;
  background: #ff900e1a;
}


/* ======================== */
/* Navigation Section Style */
/* ======================== */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.site-title {
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: #3A3A3A;
}

.nav .nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav .nav-list a {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #3A3A3A;
}




/* ============================= */
/* Media Query For Tablet Device */
/* ============================= */
@media only screen and (max-width: 1000px) and (min-width: 500px) {
  .header {
    padding: 20px 40px;
  }

  .site-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    color: #3A3A3A;
  }

  .nav .nav-list a {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #3A3A3A;
  }
}


/* ============================= */
/* Media Query For Mobile Device */
/* ============================= */
@media only screen and (max-width: 500px) {
  .header {
    padding: 20px 0;
  }

  .nav-container {
    flex-direction: column;
  }

  .site-title {
    font-weight: 700;
    font-size: 26px;
    line-height: 53px;
    color: #3A3A3A;
  }

  .nav .nav-list a {
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    color: #3A3A3A;
  }
}