/* ======================= */
/* Initializing Stylesheet */
/* ======================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Inter', sans-serif; */
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

span {
  vertical-align: bottom;
}



/* ==================== */
/* Header Section Style */
/* ==================== */








/* ============================= */
/* Media Query For Mobile Device */
/* ============================= */
@media only screen and (max-width: 500px) {
  /* Some */
}